.project .logo img {
    background: transparent;
    border-radius: 0;
}

.article a {
    border-bottom: 0;
}

.article pre code {
    background: none;
}


/* font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; */

pre, code {
    /*font-family: 'Ubuntu Mono', 'Courier New', 'Courier', monospace;*/
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

pre {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}


/*
.no-fontface code, .no-fontface kbd, .no-fontface pre, code, kbd, pre {
    font-family: Courier New,Courier,monospace;
}*/


/*@media only screen and (min-width: 960px) {
    .backdrop {
        background: white;
    }
}*/